:root {
  --primary: #ffd600;
  --primary-shade: #e0bc00;
  --primary-tint: #ffda1a;
  --background-dark: #070707;
  --background-dark-rgb: 7, 7, 7;
  --background-dark-shade: #101010; 
  --background-dark-tint: #212121;
  --background-light: whitesmoke;
  --background-light-shade: white;
  --text-on-dark: #bcbcbc;
  --text-on-dark-rgb: 188, 188, 188;
  --text-on-dark-shade: #ededed;
  --text-on-dark-secondary: #888;
  --text-on-light: black;
  --text-on-light-shade: rgba(0,0,0,0.7);
  --border-color: #ffffff24;
  --menu-z-index: 2;
  --header-height: 77px;
  --header-z-index: 1;
  --interactive-element-border-radius: 0.5rem;
  --color-success: #2dd36f;
  --color-danger: #eb445a;
  // Will be used for centered content, so it aligns with the menu
  --content-width: 600px;
  --animation-speed: 300ms;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: Poppins;
  background-color: var(--background-dark);
  color: var(--text-on-dark);
  --header-color: var(--text-on-dark-shade);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}


a {
  text-decoration: none;
  outline: none;
  color: currentColor;
  transition: color var(--animation-speed);
  padding: var(--interactive-element-border-radius);
  border-radius: var(--interactive-element-border-radius);

  &:visited {
    text-decoration: none;
    outline: none;
    color: currentColor;
  }

  &:hover {
    color: var(--primary);
    outline: 1px solid var(--anchor-focus-outline, var(--button-focus-outline));
    outline-offset: 2px;
  }

  &:focus-within {
    outline: 1px solid var(--anchor-focus-outline, var(--primary));
    outline-offset: 2px;
  }
}

button, a.button {
  color: var(--button-color, var(--text-on-light));
  background-color: var(--button-background, var(--primary));
  border-radius: var(--button-border-radius, var(--interactive-element-border-radius));
  border: var(--button-border, 1px solid var(--border-color));
  padding: 1rem 1.5rem;
  margin: 0;
  transition: background-color var(--animation-speed);
  cursor: pointer;
  box-sizing: content-box;
  font-size: 1rem;
  display: inline-block;
  font-family: inherit;

  &:focus-within {
    outline: 1px solid var(--button-focus-outline, var(--text-on-dark));
    outline-offset: 2px;
  }

  &:hover {
    background-color: var(--button-hover-background-color, var(--primary-shade));
  }

  &:disabled {
    background-color: var(--background-dark-shade);
    color: rgba(var(--text-on-dark-rgb), 0.6);
    cursor: not-allowed;
  }
}

button.secondary, a.button.secondary {
  --button-color: var(--text-on-dark);
  --button-background: transparent;
  --button-hover-background-color: var(--background-dark-shade);
  border: 1px solid var(--border-color);
}

button.round {
  border-radius: 50%;
}

button.icon {
  width: 35px;
  height: 35px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.button-small, a.button-small {
  padding: 0.5rem 0.75rem;
}

h4, h5, h6 {
  letter-spacing: 2px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-weight: 500;
  color: var(--header-color, currentColor);
}

p {
  font-weight: 400;
}


hr {
  border: 0;
  height: 2px;
  background: var(--primary);
  margin: 1.25rem auto;
  width: 50%;
}

.logo-link {
  display: flex;
}

svg {
  fill: currentColor;
}

.text-align-center {
  text-align: center;
}

select {
  appearance: none;
  outline: none;
  padding: 8px 16px;
  border: 1px solid var(--border-color); 
  background-color: var(--background-dark);
  color: currentColor;
  cursor: pointer;
  border-radius: var(--interactive-element-border-radius);
}

/* Styling the arrow icon */
select::-ms-expand {
  display: none;
}

select::-webkit-select-arrow {
  display: none;
}

/* Hover effect */
select:hover {
  background-color: var(--background-dark-shade); 
}

select:focus-within {
  outline: 1px solid var(--button-focus-outline, var(--text-on-dark));
  outline-offset: 2px;
}

label {
  line-height: 0;
}

input, textarea {
  /* Resetting margins, padding, and borders */
  margin: 0;
  padding: 0.5rem 0.75rem;
  border: none;

  /* Resetting font styles */
  font-family: inherit;
  font-size: inherit;

  /* Resetting other styles */
  background-color: transparent;
  color: currentColor;
  outline: none; 
  resize: none;

  border: 1px solid var(--border-color); 
  border-radius: var(--interactive-element-border-radius);
}

input:focus-within, textarea:focus-within {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}


// Autcomplete styles
// @see https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--text-on-light);
  box-shadow: 0 0 0px 100px var(--background-light) inset;
}


.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.text-color-success {
  color: var(--color-success);
}

.text-color-danger {
  color: var(--color-danger);
}