.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
}

.main section, .form {
    max-width: var(--content-width);
}



.aboutUS {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.aboutUsParagraph {
    white-space: break-spaces;
}