.form {
  width: 100%;
  display: block;
  box-sizing: border-box;
}
.form input,
.form textarea {
  width: 100%;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
.result {
  max-width: var(--content-width);
  margin-bottom: 2rem;
}

.recaptchaContainer {
  /* This will prevent layout shift when reCAPTCHA loads */
  min-height: 78px;
  margin-bottom: 1rem;
}
