.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--background-dark);
    color: var(--text-on-dark);
}

.container {
    width: 100%;
}

.container .signup, .container .login {
    padding: 0.5rem 0.75rem;
}


@media (max-width: 450px) {
    .container {
        flex-direction: column;
        padding-bottom: 1rem;
    }
}
