.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--background-dark);
    color: var(--text-on-dark);
}

.container {
    width: 100%;
}

.container .signup, .container .login {
    padding: 0.5rem 0.75rem;
}


@media (max-width: 450px) {
    .container {
        flex-direction: column;
        padding-bottom: 1rem;
    }
}

/* dropdown code start */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownButton {
  cursor: pointer;
}

.dropdownWrapper {
  display: none;
  position: absolute;
  width: 300px;
  z-index: 1;
  padding-top: 1rem;
}

.dropdownContent {
  background-color: var(--background-dark-shade);
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  padding: 0.25rem;
}

.dropdownWrapper a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdownWrapper {display: block;}
.dropdown:focus-within .dropdownWrapper {display: block;}


/* dropdown code end */