.header {
    padding: 1rem 2rem;
    background: var(--background-dark);
    color: var(--text-on-dark);
    height: var(--header-height);
    box-sizing: border-box;
    --header-logo-width: 50px;  
    --header-logo-height: auto;
    position: sticky;
    top: 0;
    z-index: var(--header-z-index);
}

.logo {
    width: var(--header-logo-width);
    height: var(--header-logo-height);
}

.desktopMenu {
    width: 100%;
}

.desktopMenu .signup, .desktopMenu .login {
    padding: 0.5rem 0.75rem;
}

.mobileMenu {
    display: none;
 
}

@media (max-width: 800px) {
    div.desktopMenu {
        display: none;
    }

    div.mobileMenu {
        display: flex;
    }
}