.footer {
  padding: 2rem 2rem 1rem 2rem;
  background: var(--background-dark);
  color: var(--text-on-dark);
  max-width: 100%;
  overflow: hidden;
  border-top: 1px solid var(--border-color);
}

.logo {
  width: 75px;
  padding: 0;
  height: auto;
}

.list-item {
  list-style: none;
}

.flexContainer {
  width: 100%;
}

.nav ul {
  padding: 0;
  margin: 0;
}

a.signup {
  display: block;
  width: max-content;
}


.company-name {
  margin-left: auto;
  color: var(--text-on-dark-secondary);
}

.footerGetMeFitPro {
  margin-top: 0.25rem;
}

.logoLink {
  display: inline-block;
  width: min-content;
}

.bottomSection {
  margin-top: 3rem;
}