.footer {
  padding: 4rem 2rem 1rem 2rem;
  background: var(--background-dark);
  color: var(--text-on-dark);
  max-width: 100%;
  overflow: hidden;
}

.logo {
  width: 75px;
  padding: 0;
  height: auto;
}

.list-item {
  list-style: none;
}

.flexContainer {
  width: 100%;
}

.nav {
  text-align: center;
  flex-grow: 1;
}

.nav ul {
  padding: 0;
  margin: 0;
}

a.signup {
  display: block;
  width: max-content;
}


.company-name {
  padding-top: 1rem;
  margin-top: auto;
  color: var(--text-on-dark-secondary);
}

.header {
  margin-bottom: 0;
}

.footerGetMeFitPro {
  margin-top: 0.25rem;
}

.logoLink {
  display: inline-block;
}