.main {
    overflow-x: clip;
}

.main section {
    padding: 1.25rem;
}

.proMainScreenshot {
    width: calc(60% - 2rem);
    height: auto;
    object-fit: contain;
}

section.firstSection {
    min-height: calc(100vh - var(--header-height));
    box-sizing: border-box;
    padding: 5rem;
}

.firstSectionContainer {
    flex-grow: 1;
}

.firstSectionLeftBlock {
    width: calc(40% - 2rem);
}

@media (max-width: 1000px) {
    .proMainScreenshot {
        width: 100%;
    }

    .firstSectionLeftBlock {
        width: 100%;
    }
}


@media (max-width: 500px) {
    .main section:nth-child(1) {
        padding: 1rem;
    }
}


.main section:nth-child(3) {
    padding-bottom: 5rem;
}

a.signup {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.customersList {
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
}

.bannerText {
    margin: 4rem auto 0rem auto;
    max-width: var(--content-width);
}

.customerListContainer {
    background-color: var(--background-dark-tint);
}