.main section {
    padding: 1.25rem;
}

.proMainScreenshot {
    width: calc(60% - 2rem);
    height: auto;
    object-fit: contain;
}


.firstSectionLeftBlock {
    width: calc(40% - 2rem);
}

.main section:nth-child(1) {
    clip-path: ellipse(300% 100% at 50% 0%);
    padding: 5rem;
}

@media (max-width: 1000px) {
    .proMainScreenshot {
        width: 100%;
    }

    .firstSectionLeftBlock {
        width: 100%;
    }
}


@media (max-width: 500px) {
    .main section:nth-child(1) {
        padding: 1rem;
    }
}


.main section:nth-child(3) {
    clip-path: ellipse(300% 100% at 50% 100%);
    padding-bottom: 5rem;
}

a.signup {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.customersList {
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
}

.bannerText {
    margin: 4rem auto 0rem auto;
    max-width: var(--content-width);
}