.main {
  overflow: hidden;
}

.padding {
  padding: 1.25rem;
}

.testimonials,
.benefits {
  padding: 2rem 2rem 5rem 2rem;
  background-color: var(--background-dark-tint);
}

.screenshot {
  max-width: 300px;
  object-fit: contain;
}

.firstSection {
  min-height: calc(100vh - var(--header-height));
  padding: 5rem;
  box-sizing: border-box;
}

.appMainScreenshot {
  width: calc(60% - 2rem);
  max-height: calc(100vh - 10rem - var(--header-height));
  object-fit: contain;
}

.firstSectionLeftBlock {
  width: calc(40% - 2rem);
}

@media (max-width: 1000px) {
  .appMainScreenshot {
    width: 100%;
  }

  .firstSectionLeftBlock {
    width: 100%;
  }
}
.appMainImages {
  object-fit: contain;
  height: calc(100vh - var(--header-height));
  max-width: calc(100vw - 2rem);
}

@media (max-width: 700px) {
  .appMainImages {
    width: 100vw;
  }
  .firstSection {
    padding: 2rem;
  }
}
