.padding {
    padding: 1.25rem;
}

.testimonials, .benefits {
    padding: 2rem 2rem 5rem 2rem;
    background-color: var(--background-dark-tint);
}

.screenshots {
    padding: 5rem;
}

.screenshot {
    max-width: 300px;
    object-fit: contain;
}

.firstSection {
    min-height: calc(100vh - var(--header-height));
    padding: 5rem;
    box-sizing: border-box;
}

.appMainScreenshot {
    width: calc(60% - 2rem);
    max-height: calc(100vh - 10rem - var(--header-height));
    object-fit: contain;
}


.firstSectionLeftBlock {
    width: calc(40% - 2rem);
}

.main section:nth-child(1) {
    padding: 5rem;
}

@media (max-width: 1000px) {
    .appMainScreenshot {
        width: 100%;
    }

    .firstSectionLeftBlock {
        width: 100%;
    }
}