.padding {
    padding: 1.25rem;
}

.benefits {
    padding: 2rem 2rem 5rem 2rem;
    background-color: var(--background-dark);
    color: var(--text-on-dark);
}

.screenshots {
    padding: 5rem;
}

.screenshot {
    max-width: 300px;
    object-fit: contain;
}